@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color:white;
}

header {
	background-color:rgb(51, 71, 153);
	display:flex;
	flex-direction: column;
	text-align: center;
}

.animated-date {
	
	width: 150px;
	height: 60px;	
}

.container-title {
	border: solid 2px black;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.search-container{
	border:solid 3px black;
}

.search-container form {
	display:flex;
	justify-content: center;
	align-items:center;
}

.movie-card {
	display:flex;
	flex-direction:column;
}
