@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

body {
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-image:url(./Images/popcorn.png);
	background-position: right;
	background-size: cover;
	background-attachment: fixed;
	font-family: "bebas neue", sans-serif;
	
}
.btn{
	border: none;
	background: none;
	cursor: pointer;
}
header {
	background-color:rgba(14, 17, 29, 0);
	backdrop-filter: blur(10px);
	display:flex;
	flex-direction: column;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
.title {
	font-family: 'Bebas Neue', sans-serif;
	color:rgb(132, 34, 34);
	font-size: 4.5em;
	text-shadow: 2px 2px 5px rgb(84, 138, 189);
}

.animated-date {
	width: 150px;
	height: 60px;
	font-family : 'Bebas Neue', sans-serif;
	font-size: 1.5em;
	font-weight: bolder;
	color:rgb(132, 34, 34);
}

.container-title {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.search-container form {
	display:flex;
	justify-content: center;
	align-items:center;
}
main{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 100px;
}

.movie-card {
	
	width: 700px;
	display: inline-block;

	
	
}
.movie-card article{
	display:flex;
   
    padding: 5px;
    border: 1px solid blue;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 4px inset rgba(3, 2, 2, 0.39);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
}
.movie-card article h1{
	background: transparent;
	background: linear-gradient(to left, #FF0000 0%, #000000 100%);
	backdrop-filter: blur(10px);
	border-radius: 8px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
	
}

.movie-card article p, .movie-card article h2 {
	font-family: "poppins", sans-serif;
	letter-spacing: 2px;
	color: white;
	background: transparent;
	backdrop-filter: blur(10px);
	border-radius: 8px;
}
.movie-card article h2{
	font-size: 25px;
}
.trailer{
	height: 100px;
	background-color: #FF0000;
}